html, body {
    font: 15px Arial, sans-serif;
    font-weight: bolder;
    height: 100%;
}

.calculator {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    height: min-content;
    width: min-content;
    border: 5px solid darkkhaki;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #b8cbf6;
}

.screen {
    margin: 5px;
    width: 96%;
    height: 45px;
    background-color: #ffffdc;
    box-shadow: 0 3px rgba(110, 106, 143, 0.7);
}

.button-area {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.calculator-button {
    margin: 5px;
    height: 40px;
    width: 50px;
    color: #6b6b6b;
    text-decoration: none;
    font: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 3px rgba(110, 106, 143, 0.7);
}

.number {
    background-color: #e8e6e6;
}

.number:hover {
    background-color: #c9c9c9;
}

.operation {
    background-color: #e9fa8a;
}

.operation:hover {
    background-color: #d2ec65;
}

.cancel {
    background-color: #f69a9a;
}

.cancel:hover {
    background-color: #e78080;
}
