:host {
  display: block;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-body {
  height: min-content;
  width: min-content;
  border: 5px solid darkkhaki;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #b8cbf6;
}
