:host {
  height: 250px;
  background-color: #b8cbf6;
  overflow-y: auto;
}

.history-item {
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  padding: 5px;
}

.history-heading {
  background-color: darkkhaki;
  color: white;
}

.history-entry {
  background-color: #b8cbf6;
  font-weight: normal;
  color: black;
}
