:host {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.error {
  padding: 5px;
  width: 100%;
  background-color: rosybrown;
  border: 1px solid brown;
  color: darkslategray;
  height: min-content;
}

.error-button {
  margin: 10px;
  width: 10%;
}

